@charset "utf-8";

/* FONTES */
@font-face{
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);

    font-family: 'Nunito';
    src:url(fonts/Nunito/Nunito-VariableFont_wght.ttf)
}



/* SCROLLBAR */

::-webkit-scrollbar{
    width: 15px;
    background: var(--background);
}

::-webkit-scrollbar-thumb{
    background: var(--roxo);
}


/* ROOT CORES */
:root {
    --roxo: #280079e5;
    --background: #0D0B0C;
    --background-mobile: #0d0b0ce3;
    --gold: #F2A20C;
}

/* formatação padrao */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* CORPO */
body{
    background: var(--background);
    transition: all .5s ease-in-out;
}

/* Rolagem suave */
html {
    scroll-behavior: smooth;
}


/* CABEÇALHO */

.header{
    background-color: var(--roxo);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 7em;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 10px 10px var(--roxo);
}


/* FORMATAÇAO LOGO */

.logo-img img{
    width: 25%;
    /* Tinha algum transition aqui, não lembro qual. */
}

/* SUGESTÃO: Fica mais limpo sem o  efeito hover, também previne de quebrar em outras resoluções. */

/* .logo-img img:hover{
    background-color: var(--roxo);
    margin-top: 1em;
    width: 28%;
    box-shadow: 0 0 10px 10px var(--roxo);
} */

/* FORMATAÇÃO NAVBAR CATEGORIAS */

.navbar a {
    position: relative;
    margin-left: 2em;
    font-size: 1.2rem;
    font-family: Nunito;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: all .5s ease-in-out;
}
 
 
 /* ANIMAÇÃO NAVBAR TEXTO */
 
 .navbar a::after {
     content: "";
     width: 0%;
     height: 1px;
     background-color: var(--gold);
     box-shadow: 0 0 10px var(--gold);
     position: absolute;
     bottom: 0;
     left: 0;
     transition: .5s ease-in-out;
 }
 
 .navbar a:hover::after {
     width: 100%;
 }

 /* MENU MOBILE */

.menu-mobile{
    background-color: var(--background-mobile);
    box-shadow: 0 0 40px var(--background-mobile);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}



/* CONFIG MENU ABRIR */

.menu-mobile.abrir-menu{
width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


/* ANIMAÇÃO NAVBAR TEXTO */

.menu-mobile nav a{
    text-align: right;
    text-decoration: none;
    font-family: Nunito;
    font-weight: bold;
    font-size: 1.8em;
    padding: 20px 10%;
    display: block;
    color: white;
    transition: all .5s ease-in-out;
}

.menu-mobile nav a:hover{
    background-color: var(--roxo);
    color: white;
    box-shadow: 0 0 50px var(--roxo);
}

/* BOTAO DE FECHAR O MOBILE */

.menu-mobile .btn-fechar{
    padding: 10px 4%;
}

.menu-mobile .btn-fechar i{
color: var(--gold);
font-size: 2.5em;
cursor: pointer;
transition: all .5s;
display: flex;
justify-content: end;
}

.menu-mobile .btn-fechar i:hover{
    color: red;
}

/* BOTAO ABRIR MENU */
.btn-abrir-menu i{
    color: white;
    font-size: 40px;
    visibility: hidden;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    justify-content: end;
    text-align: end;
}

.btn-abrir-menu i:hover{
    color: var(--gold);
}


/* OVERLAY MENU */

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* FORMATAÇÃO CELULAR HEADER E MENU MOBILE */

@media screen and (max-width: 1020px) {

    /* MENU MOBILE */

    .navbar{
        display: none;
    }

    .btn-abrir-menu i{
        color: white;
        font-size: 40px;
        visibility: visible;
        display: flex;
        justify-content: end;
        text-align: end;
    }

   
.logo-img img{
    margin-top: 1em;
    width: 100%;
    padding-right: 30%;
    transition: all 1s;
}

/* SUGESTÃO: Fica mais limpo sem o  efeito hover, também previne de quebrar em outras resoluções. */
   
/* .logo-img img:hover{
    width: 110%;
} */

/* PARALLAX */

section.modulo.parallax{
    background-position: 50% 50%;
    }

    /* CURIOSIDADES */

    .card-curiosidade{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-curiosidade p{
        font-size: 2em;
    }

}
    /* GALERIA */

    /* Timeline Mobile Início */

    

/* FIM MOBILE */



/* PARALLAX */

.wrapper{
    width: 100%;
    margin: 0;
    margin: auto;
    }
    
    section.modulo.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* background-position: 50% 50%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    
    section.modulo.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    z-index: 8; 
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0, 0,0,0) 50%, rgb(0, 0, 0)) ;
    
    }
    
    section.modulo.parallax-1{
    background-image: url(imgs/GIF\ Ada\ lovalace.gif);
    }

    section.modulo.parallax-2{
    background-image: url(https://cdn.prod.website-files.com/645ec33132ea3208caf0adb9/6504c5015027cbb5c4d9e31a_Ada-Lovelace-iQ-980x653.jpg);
    }
    

    /* ORIGEM FORMATAÇÃO */

    .origem h1{
        margin-top: 5em;
        text-align: center;
        color: white;
        font-size: 3em;
        font-family: Nunito;
    }

    /* BOX ORIGEM */

.box-origem{
    /* background-color: #280079; */
    margin: 50px;
    margin-top: 2em;
    border: solid var(--gold);
    box-shadow: -10px 10px 1px var(--gold);
    padding: 50px;
    margin-bottom: 10em;
}

.box-origem p{
    font-size: 1.2em;
    text-align: center;
    color: white;
    font-family: Roboto;
}


/* Timeline Início */

.timeline-header{
    padding: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Nunito;
    font-size: 2em;
}


.timeline{
    position: relative;
    max-width: 1200px;
    margin: 1rem auto;
    
}

.timeline::after{
    content: '';
    position: absolute;
    max-height: 29rem;
    width: 6px;
    background-color: var(--gold);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left:-3px;
}

.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container h2{
    font-family: Nunito;
}

.container h4{
    font-family: Nunito;
}

.container p{
    font-family: Roboto;
}
.container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--roxo);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.esquerda{
    left: 0;
}

.direita{
    right: -50%;
}

.esquerda::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--roxo);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--roxo);
  }

  .direita::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--roxo);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--roxo) transparent transparent;
  }

  .direita::after {
    left: -16px;
  }
  
  .conteudo-timeline {
    padding: 20px 30px;
    background-color: var(--roxo);
    position: relative;
    border-radius: 6px;
    outline: var(--gold);
    color: white;
  }

/* Timeline Fim */




/* Relevancia */

.titulo-relevancia h1{
    border-top: white;
    padding: 1em;
    margin-top: 3em;
    color: white;
    text-align: center;
    font-family: Nunito;
}

.container-card-relevancia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    border-bottom: solid var(--gold);
}

.container-card-relevancia .box-relevancia{
    position: relative;
    text-align: center;
    padding: 40px;
    width: 500px;
    color: white;
    background-color: var(--roxo);
    box-shadow: 0 0 10px  5px var(--roxo);
    margin: 2em;
    font-family: Roboto;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

.container-card-relevancia .box-relevancia:hover{
    background-color: var(--roxo);
    box-shadow: 0 0 5px  0px var(--roxo);
    
}

.box-relevancia p{
    font-size: 1.2em;
    font-family: Roboto;
}

/* Icons relevancia */
.icon-relevancia i{
    font-size: 5em;
    color: var(--gold);
    margin-bottom: .5em;
}




/* CURIOSIDADES */

.titulo-curiosidade h1{
    margin-top: 2em;
    color: white;
    font-family: Nunito;
    font-size: 3em;
    text-align: center;
}

.card-curiosidade{
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--gold);
}

.card-curiosidade p{
    color: white;
    padding: 1.5em;
    font-size: 1.3em;
    font-family: Roboto;
}

.img-curiosidade img{
    width: 100%;
}


/* GALERIA DE IMAGENS */

.galeria-h1{
    margin-top: 5em;
    text-align: center;
    color: white;
    font-family: Nunito;
}
 
.container-galeria{
        display: flex;
        justify-content: center; 
        align-items: center;    
        padding: 20px;
        margin: 0 auto;
}
 
.foto-galeria {
    width: 100%;             
    max-width: 1000px;       
    column-count: 2;          
    column-gap: 10px;         
    padding: 20px;
}

/* Estilos das imagens */
.foto-galeria img {
    width: 100%;
    opacity: 0.5;           
    transition: opacity 0.5s ease-in-out; 
    border-radius: 10px;      
    margin-bottom: 10px;      
}

.foto-galeria img:hover {
    opacity: 1; 
}

/* AUDIO */

.audio{
display: flex;
justify-content: center;
align-items: center;
}

/* Footer Brabo */
.container-footer{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    padding: 1rem;
    background: linear-gradient(to bottom, var(--roxo), var(--background));
    border-radius: 1rem;
}

.container-footer p{
    font-family: Nunito;
    font-weight: bold;
}
